# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform configuration variables (often contain secrets)
*.tfvars
*.tfvars.json

# Terraform crash logs
crash.log

# Terraform provider-specific directories and lock files
.terraform/
.terraform.lock.hcl

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore ZIP files for AWS Lambda
*.zip

# Ignore editor/IDE-specific files
.vscode/   # VSCode settings
.idea/     # JetBrains IDEs (e.g., IntelliJ, PyCharm)
*.iml      # IntelliJ project files

# Ignore OS-specific system files
.DS_Store   # macOS system file
Thumbs.db   # Windows system file
