# Ignore Terraform state files and backups
*.tfstate
*.tfstate.backup

# Ignore Terraform provider binaries and caches
.terraform/
.terraform.lock.hcl

# Ignore Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore AWS Lambda deployment ZIP files
*.zip

# Ignore editor/IDE-specific files
.vscode/
.idea/
*.iml

# Ignore OS-specific files
.DS_Store
Thumbs.db
.terraform/
*.tfstate
*.tfstate.backup
*.zip
